.profile-box{
    background-color: royalblue;
    color: #fff;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
         
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url('#');
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile-pic{
    border-radius: 50%;
    width: 150px;
    padding: 6px;
    margin: 20px;
    background-color: white;
    text-align: center;
}

.menu2{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
   
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    height: 40px;
    width: 40px;
}

